/* ball animation one */
@-webkit-keyframes ballOne{
	/* at the beginning of the animation, ball one will have these styles  */
	0%{
		top: 15%;
	}
	/* at the end of the animation, ball one will have these styles  */
	100%{
		top: 85%;
	}
}
@-moz-keyframes ballOne{
	/* at the beginning of the animation, ball one will have these styles  */
	0%{
		top: 15%;
	}
	/* at the end of the animation, ball one will have these styles  */
	100%{
		top: 85%;
	}
}
@keyframes ballOne{
	/* at the beginning of the animation, ball one will have these styles  */
	0%{
		top: 15%;
	}
	/* at the end of the animation, ball one will have these styles  */
	100%{
		top: 85%;
	}
}

@-webkit-keyframes ballTwo{
	0%{
		top: 55%;
	}
	100%{
		top: 85%;
	}
}
@-moz-keyframes ballTwo{
	0%{
		top: 55%;
	}
	100%{
		top: 85%;
	}
}
@keyframes ballTwo{
	0%{
		top: 55%;
	}
	100%{
		top: 85%;
	}
}

@-webkit-keyframes ballThree{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@-moz-keyframes ballThree{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@keyframes ballThree{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}

@-webkit-keyframes ballFour{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@-moz-keyframes ballFour{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@keyframes ballFour{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}

@-webkit-keyframes ballFive{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@-moz-keyframes ballFive{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@keyframes ballFive{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}

@-webkit-keyframes ballSix{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@-moz-keyframes ballSix{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@keyframes ballSix{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@-webkit-keyframes ballSeven{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@-moz-keyframes ballSeven{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@keyframes ballSeven{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@-webkit-keyframes ballEight{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@-moz-keyframes ballEight{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}
@keyframes ballEight{
	0%{
		top: 15%;
	}
	100%{
		top: 85%;
	}
}

body{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url(/textures/pinkwater.gif);
	background-size: cover;
	background-repeat: no-repeat;
}

div#logo{
	z-index: 5;
}

.logo{
	position:absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width:70%;
	left:15%;
	z-index:7;
}

.ball{
	border:0px solid transparent;
	border-radius: 50%;
	position: absolute;
	top:10%;
	left:10%;
	background-position: center center;
	background-size: cover;
	box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.05), inset 0px -5px 15px 0px rgba(0,0,0,0.5);
}

.ball:nth-of-type(1){
	left: 2%;
	width:50px;
	height: 50px;
	/* sets animation of ball one */
	-moz-animation: ballOne 10s infinite alternate;
	-webkit-animation: ballOne 10s infinite alternate;
	animation: ballOne 10s infinite alternate;
}
.ball:nth-of-type(2){
	left: 4%;
	width:50px;
	height: 50px;
	-moz-animation: ballTwo 10s infinite alternate;
	-webkit-animation: ballTwo 10s infinite alternate;
	animation: ballTwo 10s infinite alternate;
}
.ball:nth-of-type(3){
	left: 6%;
	width:50px;
	height: 50px;
	/* sets animation of ball one */
	-moz-animation: ballThree 10s infinite alternate;
	-webkit-animation: ballThree 10s infinite alternate;
	animation: ballThree 10s infinite alternate;
}
.ball:nth-of-type(4){
	left: 8%;
	width:50px;
	height: 50px;
	/* sets animation of ball one */
	-moz-animation: ballFour 10s infinite alternate;
	-webkit-animation: ballFour 10s infinite alternate;
	animation: ballFour 10s infinite alternate;
}
.ball:nth-of-type(5){
	left: 10%;
	width:50px;
	height: 50px;
	/* sets animation of ball one */
	-moz-animation: ballFive 10s infinite alternate;
	-webkit-animation: ballFive 10s infinite alternate;
	animation: ballFive 10s infinite alternate;
}
.ball:nth-of-type(6){
	left: 12%;
	width:50px;
	height: 50px;
	/* sets animation of ball one */
	-moz-animation: ballSix 10s infinite alternate;
	-webkit-animation: ballSix 10s infinite alternate;
	animation: ballSix 10s infinite alternate;
}
.ball:nth-of-type(7){
	left: 14%;
	width:50px;
	height: 50px;
	/* sets animation of ball one */
	-moz-animation: ballSeven 10s infinite alternate;
	-webkit-animation: ballSeven 10s infinite alternate;
	animation: ballSeven 10s infinite alternate;
}
.ball:nth-of-type(8){
	left: 15%;
	width:50px;
	height: 50px;
	/* sets animation of ball one */
	-moz-animation: ballEight 10s infinite alternate;
	-webkit-animation: ballEight 10s infinite alternate;
	animation: ballEight 10s infinite alternate;
}


@media screen and (min-width: 768px){
	body{
		background-image:none;
	}

	canvas{
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		z-index: 6;
	}

	#video-modal {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
		padding-top: 5em;
		background-color: rgba(255, 255, 255, 0.5);
		position:relative;
		z-index: 8;
		text-align: center;
	}


	h1{	
		position: fixed;
		width: 100%;
		padding:0;
		margin:0;
		text-align: center;
		bottom:1em;
		z-index: 8;
		color:black;
		font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
		font-weight: lighter;
		font-size:17px;
	}

	a{
		text-decoration: none;
		color:black;
		position:fixed;
		bottom:0.5em;
		right: 1em;
	}


}
